.password-input-container{
    display: flex;
    /* text-align: center; */
    /* background-color:transparent; */
    width: 100%;
    border: 1.5px solid #ccc;
    border-radius: 0.25rem; /* Default rounded value in Tailwind */
    margin-bottom: 0.75rem; /* Equivalent to mb-3 */
}
.password-input-container input{
    width: 100%;
    font-size: 0.875rem;
    padding: 0.75rem 1.25rem;
    border: none;
}
.eye-icon-container{
    cursor: pointer;
    padding: 6px 15px  0 0;
}

.eye-button-one{
    color: #2B85FF;
}
.eye-button-two{
    color: #718096;
}